<div class="component">
  <h2>Open Source Code</h2>
  <div>
    Check out the branch <a href="https://github.com/LUMII-Syslab/viziquer/tree/dss-based-schemata">dss-based-schemata</a> 
    from <a href="https://github.com/LUMII-Syslab/viziquer">Viziquer repository in GitHub</a> 
    for the visual tool version that works with the data shape (schema) server (needed for large data schema support).
    <br><br>
    The <a href="https://github.com/LUMII-Syslab/data-shape-server">data shape server</a>
    (serving the names for auto-completion) is in 
    <a href="https://github.com/LUMII-Syslab/data-shape-server">its own repository on GitHub</a> (the actual schema data 
    are currently stored in Postgres databases).
    <br><br>
    The <a href="https://github.com/LUMII-Syslab/data-shape-retrieval-services">data shape retrieval services</a>
    contain: 
    <br>
    - the open source code used for populating the DBPedia and wikidata schema databases from their respective SPARQL endpoints, and
    <br>
    - a utility for importing JSON-formatted schemas obtained from the generic data schema retrieval (cf. Data schema retrieval section).
    <br><br>
  </div>
</div>
