
<div class="component">
  <div class="component-element">
    <h4>Research Projects</h4>
      <div>
        <a href="https://viziquer.lumii.lv/projects/lzp_2021/index.html">Visual Queries in Distributed Knowledge Graphs</a>.
        Research project lzp-2021/1-0389, financed by <a href="https://lzp.gov.lv/">Latvian Science Council</a>. 
        January 2022 - December 2024 
      </div>
  </div> <br><br>
  <div class="component-element">
    <h4>Current Research</h4>
      <div>
        <li>
          K.Cerans, L.Lace, M.Grasmanis, J.Ovcinnikova.
          A UML-style Visual Query Environment over DBPedia.
          In Proc. of <a href="http://www.mtsr-conf.org/home"> MTSR'2021</a>, Springer Verlag CCIS Series<br>
          <a href="https://viziquer.lumii.lv/papers/2021_MTSR_DBPedia.pdf" class="publication">Download the author manuscript</a>
        </li>
        <li>
          <a href="http://ceur-ws.org/Vol-3023/paper12.pdf" class="publication">
          K.Cerans, J.Ovcinnikova, M.Grasmanis, L.Lace and A.Romane. 
          Visual Presentation of SPARQL Queries in ViziQuer </a>
          In <a href="http://voila2021.visualdataweb.org/"> Voila!2021</a>, <a href="http://ceur-ws.org/Vol-3023/"> CEUR Workshop Proceedings, Vol.3023</a>
        </li>
        <li>
          Čerāns, K., Ovčiņņikova, J., Bojārs, U., Grasmanis, M., Lāce, L. and Romāne, A., 
          Schema-Backed Visual Queries over Europeana and Other Linked Data Resources. 
          ESWC 2021 Satellite Events. Springer LNCS, Vol.12739, pp.82-87. 
          <a href="https://viziquer.lumii.lv/papers/2021_ESWC_Demo_Schema.pdf" class="publication">Download the author manuscript</a>
        </li>
        <li>
          K.Cerans, A.Sostaks, U.Bojars, J.Ovcinnikova, L.Lace, M.Grasmanis, A.Romane, A.Sprogis and J.Barzdins.
          ViziQuer: a Visual Notation for RDF Data Analysis Queries.
          In Proc. of <a href="http://www.mtsr-conf.org/home"> MTSR'2018</a>, in Springer Verlag CCIS Series<br>
          <a href="https://viziquer.lumii.lv/papers/2018_ViziQuer_MTSR.pdf" class="publication">Download the author manuscript</a>
        </li>
        <li>
          <a href="https://link.springer.com/chapter/10.1007/978-3-319-98192-5_30" class="publication" onclick="javascript: pageTracker._trackPageview('/downloads/paper6');">
          K.Cerans, A.Sostaks, U.Bojars, J.Ovcinnikova, L.Lace, M.Grasmanis, A.Romane, A.Sprogis and J.Barzdins.
          ViziQuer: a Web-based Tool for Visual Diagrammatic Queries over RDF Data </a>
          In The Semantic Web: ESWC 2018 Satellite Events, Springer Verlag Lecture Notes in Computer Science, Vol.11155, pp.158-163.<br>
          <a href="https://viziquer.lumii.lv/papers/2018_ESWC_ViziQuer_Demo.pdf" class="publication">Download the author manuscript</a>
        </li>
        <li>
          <a href="http://ceur-ws.org/Vol-1947/paper08.pdf" class="publication" onclick="javascript: pageTracker._trackPageview('/downloads/paper6');">
          K.Cerans, J.Barzdins, A.Sostaks, J.Ovcinnikova, L.Lace, M.Grasmanis and A.Sprogis. 
          Extended UML Class Diagram Constructs for Visual SPARQL Queries in ViziQuer/web </a>
          In <a href="http://voila2017.visualdataweb.org/"> Voila!2017</a>, <a href="http://ceur-ws.org/Vol-1947/"> CEUR Workshop Proceedings, Vol.1947</a>
        </li>
      </div>
    </div> <br><br>
    <div class="component-element">
      <h4>Earlier Research</h4>
      <div>
        <li>
          <a href="http://ceur-ws.org/Vol-1704/paper15.pdf" class="publication" onclick="javascript: pageTracker._trackPageview('/downloads/paper5');">
          K.Cerans, J.Ovcinnikova. ViziQuer: Notation and Tool for Data Analysis SPARQL Queries. </a>
          In <a href="http://voila2016.visualdataweb.org/"> Voila!2016</a>,  <a href="http://ceur-ws.org/Vol-1704/"> CEUR Workshop Proceedings, Vol.1704</a>
        </li>
        <li>
          <a href="https://viziquer.lumii.lv/papers/2015_ISWC_Demo_ViziQuer.pdf" class="publication" onclick="javascript: pageTracker._trackPageview('/downloads/paper4');">
          K.Cerans, J.Ovcinnikova, M. Zviedris. SPARQL Aggregate Queries made easy with Diagrammatic Query Language ViziQuer. </a>
          In ISWC 2015 Posters &amp; Demonstrations Track, <a href="http://ceur-ws.org/Vol-1486/"> CEUR Workshop Proceedings, Vol.1486</a>
        </li>
        <li>
          <a href="https://viziquer.lumii.lv/papers/2015_BIR_ViziQuer.pdf" class="publication" onclick="javascript: pageTracker._trackPageview('/downloads/paper3');">
          K.Cerans, J.Ovcinnikova, M. Zviedris. Towards Graphical Query Notation for Semantic Databases. </a> In BIR 2015, Springer LNBIP.
        </li>
        <li>
          <a href="http://www.semti-kamols.lv/doc_upl/ADBIS_final.pdf" class="publication" onclick="javascript: pageTracker._trackPageview('/downloads/paper1');">
          G. Barzdins, S.Rikacovs, M. Zviedris. Graphical Query Language as SPARQL Frontend. 
          In Local Proceedings of 13th East-European Conference (ADBIS 2009), pp. 93-107. Riga Technical University, Riga. (2009)</a>
        </li>
        <li>
          G.Barzdins, E.Liepins, M.Veilande, M.Zviedris, "Ontology Enabled Graphical Database Query Tool for End-Users", 
          Selected papers from DBIS'2008, Hele-Mai Haav (Eds.), Frontiers in Artificial Intelligence and Applicatons series, IOS Press, 2009. 187:105-116
        </li>
        <br>
      </div>
    </div>
</div>
