$primary-color: rgb(123, 102, 161);
$secondary-color: rgb(244, 196, 132);
$accent-color: rgb(195, 114, 0);
$text-color: rgb(255, 255, 255);
$darker-primary-color: rgb(61, 55, 101);

.double_img{
  width: 50%;
  display: inline-block;
}

.nav-link{
  color: $primary-color;

  &:hover{
    background-color: $secondary-color;
  }
  .active{
    background-color: $accent-color;
    color: $text-color;
  }
}

.nav-link.active{
  background-color: $darker-primary-color;
}

@media only screen and (max-width: 850px) {
  #sidenav{
    display: none;
  } 
  #content{
    width: 100%;
  }
  .double_img{
    display: block;
    width: 100%;

  }
  
}

#navbar{
  overflow-y: scroll;
}

img{
  display: block;
  margin: auto;
}

.row{
  width: 100%;
}
