$primary-color: rgb(123, 102, 161);
$secondary-color: rgb(244, 196, 132);
$accent-color: rgb(195, 114, 0);
$text-color: rgb(255, 255, 255);
$darker-primary-color: rgb(61, 55, 101);

.double_img{
  width: 50%;
  display: inline-block;
}

.row{
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

#sidenav {
  user-select: none;
  flex: 0 0 25%; 
  padding: 0 12px;
  transition: flex 0.3s ease;
}

#content {
  flex: 0 0 75%;
  transition: flex 0.3s ease; 
}

@media only screen and (max-width: 1000px) {
  *{
    line-height: 1.5;

  }
  #sidenav{
    display: none;
  } 
  #content{
    flex: 0 0 100%;
    width: 100%;
  }
  .double_img{
    display: block;
    width: 100%;

  }
  
}

@media (min-width: 1400px) {
  #sidenav {
    flex: 0 0 20%;
  }

  #content {
    flex: 0 0 80%;
  }
}

@media (min-width: 1900px) {
  #sidenav {
    flex: 0 0 15%;
  }

  #content {
    flex: 0 0 85%;
  }
}

img{
  display: block;
  margin: auto;
}

h4, h2{



  :not(#introduction){
    margin: 10px 0;
  }
}

.content{

  height: 85%;
  padding: 1rem 2rem;
  ul {
    list-style: none; 

    li::before {
      content: "\2022";
      color: $accent-color;
      font-weight: bold; 
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  } 
}

.nav-link{
  color: $primary-color;
  margin: 5px 0;
  padding: 2px;
  font-size: 18px;
  font-weight: 300;

  &:hover{
    color: $secondary-color;
  }

}

a.active{
  color: $darker-primary-color;
  font-weight: 800;
}

// .custom-sublink {
//   margin-left: 10px;
//   padding-left: 10px;
// }

.sublink.active {
  font-weight: 700;
}


.sublinks-container{
  margin-left: 15px;
}

.active {
  font-weight: bold;
  color: yelllow;
}

.toggle-btn{
  background-color: white;
  color: black;
  border: none;
  font-weight: 600;
  padding-left: 0;
}
