<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#help_modal">
                    Help
                </button>

                <!-- desktop -->
                <div class="btn-group float-end">

                    <button type="button" class="btn btn-primary" (click)="reloadUrl()">New Project</button>
                    <a *ngIf="url_to_open" class="btn" [href]="url_to_open" target="_blank">Open in fullscreen</a>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Share
                        </button>
                        <ul class="dropdown-menu dropdown-menu-start">
                            <li>
                                <input type="text" disabled [value]="getUrl()">
                                <button type="button" id="copy" class="btn" href="#" (click)="copyUrl()" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Copy link" data-bs-custom-class="custom-tooltip">Copy URL</button>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <iframe *ngIf="url_to_open" id="app_iframe" [src]="url_to_open" title="Viziquer"></iframe>        </div>
            <img *ngIf="!url_to_open" src="assets/images/loading.gif" alt="Loading...">
    </div>
</div>

<div class="modal fade" id="help_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Help</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Select a data schema within the settings (icon).<br>
            Use the right-hand side tabs for starting a query from a class, a property, or an individual (if supported).<br>
            To visualize a SPARQL query, place it in the SPARQL query area, then choose the 'Visualize SPARQL' context menu item.   
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>