<div class="component">
    <div>description to do</div><br>

    <h5>Core Team</h5>
    <div>
      <li>Prof. Kārlis Čerāns (current team leader)</li>
      <li>Dr. Lelde Lāce</li>
      <li>Jūlija Ovčiņņikova</li>
      <li>Mikus Grasmanis</li>
      <li>Dr. Agris Šostaks</li>
      <li>Dr. Arturs Sproģis</li>
      <li>Dr. Uldis Bojārs</li>
      <li>Prof. Guntis Bārzdiņš (early ViziQuer notation supervisor)</li>
      <li>Dr. Mārtiņš Zviedris (early ViziQuer notation founder)</li>
      We work at <a href="http://http://lumii.lv/?lang=en">Institute of Mathematics and Computer Science, University of Latvia</a>
    </div>

    <h6><br>
    Contact <a href="mailto://viziquer@lumii.lv">viziquer@lumii.lv</a> for support, inquiries and any other ViziQuer-related matter. 
    <!-- Team leader e-mail <a href="mailto://karlis.cerans@lumii.lv">karlis.cerans@lumii.lv</a> -->
    
  </h6><br><br>
</div>
