$primary-color: rgb(123, 102, 161);
$secondary-color: rgb(244, 196, 132);
$accent-color: rgb(195, 114, 0);
$text-color: rgb(255, 255, 255);
$darker-primary-color: rgb(61, 55, 101);

.navbar {
    position: sticky;
    padding: 0;
    top: 0;
    z-index: 5;
    background-color: $primary-color;
    color: $text-color;
    .navbar-brand {
        font-weight: 700;
        padding: 0;
        font-size: xx-large;
        padding-left: 0.75rem;
        &:hover {
            color: $secondary-color;
        }
    }
    .navbar-nav {
        display: flex;
        padding-left: 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
        font-size: smaller;
        #app {
            background-color: $secondary-color;
            color: $primary-color;
            &:hover{
                color: $darker-primary-color;
            }
        }
        li {
            display: flex;
            align-items: flex-end;
            font-size: large;

            .nav-link {
                white-space: nowrap;
                padding: 12px;
                &:hover {
                    color: $secondary-color;
                }
                &.active {
                    color: $secondary-color;
                    background-color: $darker-primary-color;
                }
            }
            font-weight: 500;
        }
    }
}
