<div class="component">
  <h2>Sample Projects</h2>
  <p>
      The example projects with configurations over Europeana, DBPedia and wikidata can be uploaded from the following locations 
      (other sample projects are offered during the project initialization, as well):
      <br>
      <li> <a href="https://viziquer.lumii.lv/dss/resources/Europeana_Sample.json">Europeana sample project</a>.</li>
      <li> <a href="https://viziquer.lumii.lv/dss/resources/DBPedia_Sample.json">DBPedia sample project</a>.</li>
      <li> <a href="https://viziquer.lumii.lv/dss/resources/Wikidata_Sample.json">Wikidata sample project</a>.</li>
      <br>
  </p>
</div>
