/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

$accent-color: rgb(195, 114, 0);

*{
    a{
        color: $accent-color;
    }
}

.component{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    // position: absolute;
    // height: 10%;
    left: 50%;
    // top: 20%;
    margin: auto;
    margin-top: 1rem;
    font-size: smaller;
    // transform: translate(-50%, -50%);
    width: clamp(300px, 70%, 900px);
}