$primary-color: rgb(123, 102, 161);
$secondary-color: rgb(244, 196, 132);
$accent-color: rgb(195, 114, 0);
$text-color: rgb(255, 255, 255);
$darker-primary-color: rgb(61, 55, 101);



.button-row{
  margin: 2em 0;

  .btn{

    margin: 0 5px 0 0 ;
    background-color: $primary-color;
    color: white;

    &:hover{
      background-color: $darker-primary-color;
      color: $secondary-color;
    }
  }
  .github{
    background-color: black;
    display: inline-flex;
    align-items: center;
    img{
      margin-right: 5px;
      height: 24px;
      width: 24px;
    }
    &:hover{
      background-color: black;
    }
  }
}
video{
  display: flex;
  max-height: 100%;
  align-self: end;
  max-width: 100%;
}
.row{
  width: 100%;
  margin: auto;
  padding: 15px;
}

.tiles{
  display: flex;
  justify-content: space-between;
  // margin: auto 2em;
  padding: auto 2em;
  flex: 0 0 33%;
  >div{
    width: 50%;
  }
}




#title-video{
  height: 50%;
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: center;
}


@media screen and (max-width: 800px) {
  #title-video{
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
    h1{
      // font-size: 50pxs;
      font-weight: bold;
      white-space: nowrap;
    }
  }
  video{
    height: 100%;
    width: 100%;
  }
  .row{
    padding: 0px;
  }
  .button-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 10px 0px;
    .btn{
      margin-right: 2px;
    }
  }
  .tiles{
    padding: 0;
    padding-bottom: 1em;
    flex-direction: column;
    >div{
      width: 100%;
    }
  }
}
  

