<div class="component">
    <h2>
        ViziQuer/DSS Tool for Visual Exploration and Queries over Large RDF Data Sets<br>
    </h2>

    <h6>Supports both data instance level and aggregate queries</h6><br>
    <h6>DBPedia and wikidata environments based on actual data schemas 
    (e.g., 480K classes and 50K properties for DBPedia)</h6>
    <br>
        <a href="https://viziquer.lumii.lv/dss/images/Query_Examples.png"><img src="https://viziquer.lumii.lv/dss/images/Query_Examples.png" width="100%" border="0"></a>
    <br><br>
    <h5>Highlights</h5>
    <div>
        <a href="examples/dbpedia2022/index.html">Experience with Visual SPARQL Queries over DBPedia</a> (Presentation and paper at VOILA!'2022)
        <br><br>
        <a href="examples/wikidata2022/index.html">Towards Visual Queries over Wikidata</a> (Demo at ESWC'2022)
        <br><br>
        <a href="projects/lzp_2021/index.html">Visual Queries over Distributed Knowledge Graphs</a> (Research project, supported by Latvian Science Council)
        <br><br>
    </div>
    <div class="featured-icons row">

        <div class="col-md-4">
            <h3>Sample Title</h3>
            <p>This is a sample paragraph</p>
        </div>
        <div class="col-md-4">
            <h3>Sample Title</h3>
            <p>This is a sample paragraph</p>
        </div>
        <div class="col-md-4">
            <h3>Sample Title</h3>
            <p>This is a sample paragraph</p>
        </div>

    </div>
</div>
