<div class="row" id="title-video">
        <div class="col" id="title">
            <h1>
                Query your RDF data visually
            </h1>
            <div class="button-row">
                <a class="btn" href="/online">Try it Online</a>
                <a class="btn" href="https://viziquer.app/">Open the App</a>
                <a class="github btn" href="https://github.com/LUMII-Syslab/viziquer">
                    <img src="assets/img/github.png" alt="GitHub logo">
                    Github
                </a>
            </div>
        </div>
        <div class="col" id="video">
            <video autoplay loop>
                <source src="assets/video/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
</div>
    
    <!-- <h6>Supports both data instance level and aggregate queries</h6><br>
    <h6>DBPedia and wikidata environments based on actual data schemas 
    (e.g., 480K classes and 50K properties for DBPedia)</h6>
    <br>
        <a href="https://viziquer.lumii.lv/dss/images/Query_Examples.png"><img src="https://viziquer.lumii.lv/dss/images/Query_Examples.png" width="100%" border="0"></a> -->


<div class="row tiles">
    <div class="col">
        <h3>Rich Visual Data Queries</h3>
        <p>Create your RDF data query in a visual diagrammatic environment. Work with rich instance-level and aggregate queries.</p>
    </div>
    <div class="col">
        <h3>Supports large data schemas</h3>
        <p>Enjoy entity name auto-completion for popular data endpoints, including DBPedia and Wikidata. The data schema list can be expanded with schemas of your favorite endpoints.</p>
    </div>
    <div class="col">
        <h3>Visualize your SPARQL queriese</h3>
        <p>Enter your SPARQL query and see, how it is rendered visually in a diagrammatic environment</p>
    </div>
</div>