<div>

    <div class="row">
        <div class="col-4 pe-4">
            <h2>
                ViziQuer/DSS Tool for Visual Exploration and Queries over Large RDF Data Sets<br>
            </h2>
            <div class="button-row">
                <a class="btn btn-md" href="/online">Try it Online</a>
                <a class="btn btn-md" href="https://viziquer.app/">Open the App</a>
                <a class="github btn btn-md" href="https://github.com/LUMII-Syslab/viziquer">
                    <img src="assets/img/github.png" alt="GitHub logo">
                    <span>Github</span>
                </a>
            </div>
        </div>
        <div class="col-8">
            <video controls>
                <source src="assets/video/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

    </div>
    
    <!-- <h6>Supports both data instance level and aggregate queries</h6><br>
    <h6>DBPedia and wikidata environments based on actual data schemas 
    (e.g., 480K classes and 50K properties for DBPedia)</h6>
    <br>
        <a href="https://viziquer.lumii.lv/dss/images/Query_Examples.png"><img src="https://viziquer.lumii.lv/dss/images/Query_Examples.png" width="100%" border="0"></a> -->

<div class="component">

    <div class="row">
        <div class="col-md-4">
            <h3>Sample Title</h3>
            <p>This is a sample paragraph</p>
        </div>
        <div class="col-md-4">
            <h3>Sample Title</h3>
            <p>This is a sample paragraph</p>
        </div>
        <div class="col-md-4">
            <h3>Sample Title</h3>
            <p>This is a sample paragraph</p>
        </div>

    </div><br><br>
    <div>
        <h5>Highlights</h5>
        <a href="examples/dbpedia2022/index.html">Experience with Visual SPARQL Queries over DBPedia</a> (Presentation and paper at VOILA!'2022)
        <br><br>
        <a href="examples/wikidata2022/index.html">Towards Visual Queries over Wikidata</a> (Demo at ESWC'2022)
        <br><br>
        <a href="projects/lzp_2021/index.html">Visual Queries over Distributed Knowledge Graphs</a> (Research project, supported by Latvian Science Council)
        <br><br>
    </div>
</div>

</div>
